<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/student.css' %}">
</head>
<body>
    <div>
        <div class="c1">
            <header>
                <h1>this is studentform</h1>
            </header>
        </div>
        <div class="c2">
            <form action="" method="post">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="submit" btn btn-primary>
            </form>
        </div>
        <div class="c3">
            <footer>
                <h1>thankyou</h1>
            </footer>
        </div>
    </div>
    
</body>
</html>